<div class="row">
  <div class="col-md-12">
    <h3 class="d-flex justify-content-center border-bottom">
      <span class="m-1">Categories</span>
    </h3>
  </div>
</div>

{% for collection in site.collections %}
  {% if collection.label != 'posts' %}
    <div class="card mb-3 border-0">
      <div class="row no-gutters mb-2">
        <div class="col-md-4">
          {% assign last_doc = collection.docs.last %}
          {% if last_doc and last_doc.image %}
            <img src="{{ last_doc.image }}" class="card-img h-75 w-75 m-4 rounded-circle" alt="Image of {{ last_doc.title }}">
          {% else %}
            <div class="bg-secondary text-white d-flex align-items-center justify-content-center h-75 w-75 m-4 rounded-circle">
              <span class="text-center">{{ collection.label | capitalize }}</span>
            </div>
          {% endif %}
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ collection.label | capitalize }}</h5>
            <p class="card-text">
              {% if last_doc %}
                <a href="{{ last_doc.url | prepend: site.baseurl }}" class="text-reset">
                  {{ last_doc.title }}
                </a>
              {% else %}
                <span class="text-muted">No posts yet</span>
              {% endif %}
            </p>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
