<section class="row m-2">
  <div class="card-columns">
    {% assign published_articles = site.articles | where: "published", true | reverse %}
    {% assign articles = published_articles | slice: 0, 6 %}
    {% for item in articles %}
      <div class="card p-3 border-0 zoom">
        {% if item.image %}
          <img src="{{ item.image }}" class="card-img-top" alt="Image of {{ item.title }}">
        {% endif %}
        <div class="card-body">
          <a href="{{ item.url | prepend: site.baseurl }}" class="text-reset">
            <h5 class="card-title">{{ item.title }}</h5>
          </a>
          {% assign summary = item.description | default: item.excerpt %}
          {% if summary %}
            <p class="card-text">{{ summary | strip_html | truncate: 140 }}</p>
          {% endif %}
          <p class="card-text"><small class="text-muted">{{ item.date | date_to_long_string }}</small></p>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
