<section class="row m-2">
  <div class="card-columns">
    {% assign published_articles = site.articles | where: "published", true | reverse %}
    {% assign articles = published_articles | slice: 0, 6 %}
    {% for item in articles %}
      <div class="card p-3 border-0 zoom">
        {% if item.image %}
          <img src="{{ item.image }}" class="card-img-top" alt="Image of {{ item.title }}">
        {% else %}
          <div class="card-img-top bg-secondary text-white d-flex align-items-center justify-content-center" style="height: 200px;">
            <h4>{{ item.title }}</h4>
          </div>
        {% endif %}
        <div class="card-body">
          <a href="{{ item.url | prepend: site.baseurl }}" class="text-reset">
            <h5 class="card-title">{{ item.title }}</h5>
          </a>
          <p class="card-text">{{ item.description }}</p>
          <p class="card-text"><small class="text-muted">{{ item.date | date_to_long_string }}</small></p>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
