---
layout: default
---
{% if page.image %}
<div class="jumbotron" style="background-image: url({{ page.image }}); background-size: cover; background-position: center;">
  <h1 class="col-md-5 mx-auto mb-5 d-flex justify-content-center text-light">{{ page.title }}</h1>
  {% if page.description %}
    <p class="lead text-light text-center">{{ page.description }}</p>
  {% endif %}
</div>
{% else %}
<div class="jumbotron jumbotron-placeholder text-center">
  <h1 class="col-md-8 mx-auto mb-3 d-flex justify-content-center">{{ page.title }}</h1>
  {% if page.description %}
    <p class="lead text-muted text-center">{{ page.description }}</p>
  {% endif %}
</div>
{% endif %}
<article class="container">
  {{ content }}
</article>
