---
layout: default
---
{% if page.image %}
<div class="jumbotron" style="background-image: url({{ page.image }}); background-size: cover; background-position: center;">
  <div class="col-md-8 mx-auto text-center">
    <h1 class="mb-3 text-light">{{ page.title }}</h1>
    <p class="lead text-light">{{ page.description }}</p>
  </div>
</div>
{% elsif page.background_color %}
<div class="jumbotron" style="background: {{ page.background_color }};">
  <div class="col-md-8 mx-auto text-center">
    <h1 class="mb-3 text-light">{{ page.title }}</h1>
    <p class="lead text-light">{{ page.description }}</p>
  </div>
</div>
{% else %}
<div class="jumbotron bg-secondary">
  <div class="col-md-8 mx-auto text-center">
    <h1 class="mb-3 text-light">{{ page.title }}</h1>
    <p class="lead text-light">{{ page.description }}</p>
  </div>
</div>
{% endif %}
<article class="container">
  {{ content }}
</article>
